div.alert-warn.fade(flash-alert='error', active-class='in alert')
    strong.alert-message {{flash.message}}

section#about.home-section.text-center
    .heading-about
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .wow.bounceInDown(data-wow-delay="0.1s")
                        .section-heading
                            h2 Exec Board
                            i.fa.fa-2x.fa-angle-down
    .container
        .row
            .col-lg-2.col-lg-offset-5
                hr.marginbot-50
        .row.marginbot-50
            .col-xs-6.col-sm-4.col-md-4
                .wow.fadeInUp(data-wow-delay="0.2s")
                    .team.boxed-grey
                        .inner
                            h5.editable(editable-text="data.excomm.president.name", onbeforesave="updateInfo(data.excomm.president)") {{data.excomm.president.name || 'Unknown'}}
                            p.subtitle President
                            .avatar
                                img.img-responsive.img-circle(ng-src="{{data.excomm.president.picture}}", alt="", style="width:100%",
                                ng-file-drop='onFileSelect($files, "president")', ng-show='dropSupported',
                                ng-file-drop-available="dropSupported=true", ng-file-drag-over-delay='100')
            .col-xs-6.col-sm-4.col-md-4
                .wow.fadeInUp(data-wow-delay="0.2s")
                    .team.boxed-grey
                        .inner
                            h5.editable(editable-text="data.excomm.vpfinance.name", onbeforesave="updateInfo(data.excomm.vpfinance)") {{data.excomm.vpfinance.name}}
                            p.subtitle VP Finance
                            .avatar
                                img.img-responsive.img-circle(ng-src="{{data.excomm.vpfinance.picture}}", alt="", style="width:100%",
                                ng-file-drop='onFileSelect($files, "vpfinance")', ng-show='dropSupported',
                                ng-file-drop-available="dropSupported=true", ng-file-drag-over-delay='100')
            .col-xs-6.col-sm-4.col-md-4
                .wow.fadeInUp(data-wow-delay="0.2s")
                    .team.boxed-grey
                        .inner
                            h5.editable(editable-text="data.excomm.vplossprevention.name", onbeforesave="updateInfo(data.excomm.vplossprevention)") {{data.excomm.vplossprevention.name}}
                            p.subtitle VP Loss Prevention
                            .avatar
                                img.img-responsive.img-circle(ng-src="{{data.excomm.vplossprevention.picture}}", alt="", style="width:100%",
                                ng-file-drop='onFileSelect($files, "vplossprevention")', ng-show='dropSupported',
                                ng-file-drop-available="dropSupported=true", ng-file-drag-over-delay='100')
        .row.marginbot-50
            .col-xs-6.col-sm-3.col-md-3
                .wow.fadeInUp(data-wow-delay="0.2s")
                    .team.boxed-grey
                        .inner
                            h5.editable(editable-text="data.excomm.vpacademicexcellence.name", onbeforesave="updateInfo(data.excomm.vpacademicexcellence)") {{data.excomm.vpacademicexcellence.name}}
                            p.subtitle VP Academic Excellence
                            .avatar
                                img.img-responsive.img-circle(ng-src="{{data.excomm.vpacademicexcellence.picture}}", alt="",
                                ng-file-drop='onFileSelect($files, "vpacademicexcellence")', ng-show='dropSupported',
                                ng-file-drop-available="dropSupported=true", ng-file-drag-over-delay='100')
            .col-xs-6.col-sm-3.col-md-3
                .wow.fadeInUp(data-wow-delay="0.4s")
                    .team.boxed-grey
                        .inner
                            h5.editable(editable-text="data.excomm.internalsocialchair.name", onbeforesave="updateInfo(data.excomm.internalsocialchair)") {{data.excomm.internalsocialchair.name}}
                            p.subtitle Internal Social Chair
                            .avatar
                                img.img-responsive.img-circle(ng-src="{{data.excomm.internalsocialchair.picture}}", alt="",
                                ng-file-drop='onFileSelect($files, "internalsocialchair")', ng-show='dropSupported',
                                ng-file-drop-available="dropSupported=true", ng-file-drag-over-delay='100')
            .col-xs-6.col-sm-3.col-md-3
                .wow.fadeInUp(data-wow-delay="0.4s")
                    .team.boxed-grey
                        .inner
                            h5.editable(editable-text="data.excomm.vpexternalrelations.name", onbeforesave="updateInfo(data.excomm.vpexternalrelations)") {{data.excomm.vpexternalrelations.name}}
                            p.subtitle VP External Relations
                            .avatar
                                img.img-responsive.img-circle(ng-src="{{data.excomm.vpexternalrelations.picture}}", alt="",
                                ng-file-drop='onFileSelect($files, "vpexternalrelations")', ng-show='dropSupported',
                                ng-file-drop-available="dropSupported=true", ng-file-drag-over-delay='100')
            .col-xs-6.col-sm-3.col-md-3
                .wow.fadeInUp(data-wow-delay="0.4s")
                    .team.boxed-grey
                        .inner
                            h5.editable(editable-text="data.excomm.vpadministration.name", onbeforesave="updateInfo(data.excomm.vpadministration)") {{data.excomm.vpadministration.name}}
                            p.subtitle VP Administration
                            .avatar
                                img.img-responsive.img-circle(ng-src="{{data.excomm.vpadministration.picture}}", alt="",
                                ng-file-drop='onFileSelect($files, "vpadministration")', ng-show='dropSupported',
                                ng-file-drop-available="dropSupported=true", ng-file-drag-over-delay='100')
        .row
            .col-xs-6.col-sm-3.col-md-3
                .wow.fadeInUp(data-wow-delay="0.8s")
                    .team.boxed-grey
                        .inner
                            h5.editable(editable-text="data.excomm.associatemembereducator.name", onbeforesave="updateInfo(data.excomm.associatemembereducator)") {{data.excomm.associatemembereducator.name}}
                            p.subtitle Associate Member Educator
                            .avatar
                                img.img-responsive.img-circle(ng-src="{{data.excomm.associatemembereducator.picture}}", alt="",
                                ng-file-drop='onFileSelect($files, "associatemembereducator")', ng-show='dropSupported',
                                ng-file-drop-available="dropSupported=true", ng-file-drag-over-delay='100')
            .col-xs-6.col-sm-3.col-md-3
                .wow.fadeInUp(data-wow-delay="0.8s")
                    .team.boxed-grey
                        .inner
                            h5.editable(editable-text="data.excomm.houseimprovementchair.name", onbeforesave="updateInfo(data.excomm.houseimprovementchair)") {{data.excomm.houseimprovementchair.name}}
                            p.subtitle House Improvement Chair
                            .avatar
                                img.img-responsive.img-circle(ng-src="{{data.excomm.houseimprovementchair.picture}}", alt="",
                                ng-file-drop='onFileSelect($files, "houseimprovementchair")', ng-show='dropSupported',
                                ng-file-drop-available="dropSupported=true", ng-file-drag-over-delay='100')
            .col-xs-6.col-sm-3.col-md-3
                .wow.fadeInUp(data-wow-delay="0.8s")
                    .team.boxed-grey
                        .inner
                            h5.editable(editable-text="data.excomm.vpmembereducation.name", onbeforesave="updateInfo(data.excomm.vpmembereducation)") {{data.excomm.vpmembereducation.name}}
                            p.subtitle VP Member Education
                            .avatar
                                img.img-responsive.img-circle(ng-src="{{data.excomm.vpmembereducation.picture}}", alt="",
                                ng-file-drop='onFileSelect($files, "vpmembereducation")', ng-show='dropSupported',
                                ng-file-drop-available="dropSupported=true", ng-file-drag-over-delay='100')
            .col-xs-6.col-sm-3.col-md-3
                .wow.fadeInUp(data-wow-delay="0.8s")
                    .team.boxed-grey
                        .inner
                            h5.editable(editable-text="data.excomm.vpmembereducationtwo.name", onbeforesave="updateInfo(data.excomm.vpmembereducationtwo)") {{data.excomm.vpmembereducationtwo.name}}
                            p.subtitle VP Member Education
                            .avatar
                                img.img-responsive.img-circle(ng-src="{{data.excomm.vpmembereducationtwo.picture}}", alt="",
                                ng-file-drop='onFileSelect($files, "vpmembereducationtwo")', ng-show='dropSupported',
                                ng-file-drop-available="dropSupported=true", ng-file-drag-over-delay='100')
